@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap");

//

:root {
  --font-heading: "EB Garamond", serif;
  --font-title: "Montserrat", sans-serif;
  --font-paragraph: "Poppins", sans-serif;

  //style
  --isMenu-open :flex;
  
  //color 
  --menu-natural-black:invert(0%);
}

//

// General

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: var(--font-paragraph);
}

ul {
  list-style-type: none;
}

a,
a:visited,
a:focus,
button {
  all: unset;
}

.default-nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 0 1rem;
  box-shadow: 0 1px 4px 1px rgba($color: #000000, $alpha: 0.3);
  transition: 300ms ease-in-out;
  background-color: #fff;

  .lt-nav {
    display: flex;
    align-items: center;

    a {
      font-size: 1rem;
      cursor: pointer;
    }

    img{
      width: 40px;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 1vmax;
    }
  }

  .md-nav {
    display: flex;

    ul {
      display: flex;

      a {
        cursor: pointer;
        margin: 0 1rem;
        padding: 0.5rem 2rem;
        border-radius: 10px;
        font-weight: 600;
        transition: 150ms ease-in-out;
      }

      a:hover {
        color: white;
        background-color: #e18b49;
      }

      a:active {
        color: white;
        background-color: #492a13;
      }
    }
  }

  .rt-nav {
    display: none;
    background-color: #fff;

    .menu {
      display: flex;
      width: 6vmin;
      height: 6vmin;
      cursor: pointer;

      z-index: 10000;
      filter: var(--menu-natural-black);
    }

    @keyframes rotate {
      0%{
        transform: rotate(0deg);
      }
      100%{
        transform: rotate(90deg);
      }
    }
    @keyframes reverse-rotatate {
      0%{
        transform: rotate(90deg);
      }
      100%{
        transform: rotate(0deg);
      }
    }
  }

  .main-menu {
    display: var(--isMenu-open);
    position: fixed;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #1b1b1b;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    z-index: 1000;
    animation: slide-in 300ms ease-in-out;

    ul {
      width: 100%;
      height: 100%;
      display: flex ;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    li {
      display: flex;
      margin: 1rem 0  ;
      width: 100%;
      justify-content: center;
    }
    
    a {
      width: 50%;
      padding: 1rem;
      background-color: #C78F5C;
      border-radius: 15px;
      font-size: 5vw;
      cursor: pointer;
      animation: text-menu ease-in-out 600ms;
    }
  }

  @keyframes text-menu {
    0% {
      opacity: 0;
      transform: translateY(-20%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-in {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }

  @media (max-width: 800px) {
    .md-nav {
      display: none;
    }
    .rt-nav {
      display: flex;
    }
  }
}

@media (max-width: 800px) {
  .default-nav {
    justify-content: space-between;
    padding: 1rem 1.25rem;
  }
}

