.aboutpage {
  display: flex;
  width: 100%;
  flex-direction: column;
  
  // ==============================================================

  header {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #c78f5c;
    justify-content: center;
    align-items: center;

    .img-container {
      display: flex;
      width: 100%;

      img {
        display: flex;
        width: 100%;
        position: relative;
        z-index: 10;
        object-fit: cover;
      }
    }

    h1 {
      position: absolute;
      color: white;
      font-size: 4vw;
      animation: Fade-in 1500ms ease-in-out;
      cursor: default;
      z-index: 100;

      top: 20%;
      left: 7%;

      span {
        font-size: 2.5vw;
        color: #c78f5c;
      }

      @keyframes Fade-in {
        0% {
          opacity: 0;
          transform: translateX(-40%);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }
  
  // ==============================================================

  main {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 10vw auto;

    .container-main {
      display: flex;
      width: 90%;
      box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
      border-radius: 5px;

      .card-initial {
        width: 100%;
        display: flex;

        .img-container {
          display: flex;
          width: 50%;
          justify-content: center;
          align-items: center;

          img {
            width: 100%;
            object-fit: contain;
            box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.3);
            border: 2px solid #1b1b1b;
            border-radius: 5px;
            transform: rotate(-90deg);
          }
        }

        .card-description {
          width: 50%;

          p {
            color: gray;
            font-size: 2vmin;
          }
        }
      }
      @media (max-width: 600px) {
        .card-initial {
          margin-top: 2rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .img-container {
            display: flex;
            width: 100%;
          }

          .card-description {
            width: 90%;
            margin-top: 5rem;
          }
        }
      }
    }
  }

  // ==============================================================
}
