.homepage {
  display: flex;
  width: 100%;
  flex-direction: column;

  // ==============================================================
  header {
    width: 100%;
    display: flex;
    height: 75vh;
    justify-content: center;
    align-items: center;
    background-color: #c78f5c;
    color: white;
    font-size: 7vw;
    font-family: var(--font-style);

    h1 {
      animation: fade-up 1500ms ease-in-out;
    }

    @keyframes fade-up {
      0% {
        opacity: 0;
        transform: translateY(-10%);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  // ==============================================================

  main {
    display: flex;
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 5vh;

    .card-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .card {
        display: flex;
        width: 80%;
        padding: 2rem;
        

       // box-shadow: 0 0 5px 1px rgba($color: #5F4842, $alpha: .3);

        .img-container {
          display: flex;
          justify-content: center;
          width: 50%;

          img {
            width: 75%;
            border-radius: 50%;
            aspect-ratio: 1/1;
            object-fit: cover;
            border: 2px solid #c78f5c;
          }
        }
        
        .desc-container {
          width: 50%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;

          h4 {
            color: #c78f5c;
          }

          p {
            color: gray;
          }
        }
        
        @media (max-width:800px) {
          flex-direction: column;
          width: 100%;

          .img-container {
            width: 95%;

            img {
              width: 100%;
            }
          }

          .desc-container{
            width: 95%;
          }
        }
      }
    }
  }
}
