@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap");

//

:root {
  --font-heading: "EB Garamond", serif;
  --font-title: "Montserrat", sans-serif;
  --font-paragraph: "Poppins", sans-serif;
}

//

// General

*, ::after, ::before {
  box-sizing: border-box;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: var(--font-paragraph);
  background-color: rgb(233, 233, 233);   
} 

ul {
  list-style-type: none;
}

a, a:visited, a:focus, button {
  all: unset;
}